.circle-covid{
    height: 8px;
    width: 8px;
    border-radius: 4px;
    margin-right: 0.5rem;
}
.case-type{
    margin: 0;
    color: #333333;
}
.number-cases{
    margin: 0;
    color: #767676;
    margin-left: auto;
}
.w100{
    width: 100% !important;
}
.fresh-cases{
    margin-left: 10px;
    font-size: 0.65rem;
}