.country-table{
    margin: auto;
    overflow-y: scroll;
    height: 55vh;
    color: #6a5d5d;
    background-color: white;
    width: 90%;
}
tr:nth-of-type(odd){
    background-color: #f3f2f8;
}
td{
    padding: 0.5rem;
}