body{
    background-color: #f5f6fa;
    margin: 20px;
}
.stats-left{
    flex: 0.9;
}
@media (max-width: 768px) {
    .covid-app{
        flex-direction: column !important;
    }
    .covid-stats{
        flex-direction: row !important;
    }
}
.covid-header{
    font-size: 3rem;
}
.country-dropdown{
    background-color: white;
}
.MuiOutlinedInput-root{
    border-radius: 8px !important;
}
.MuiInputBase-root{    
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
}
.MuiInputBase-root:focus{
    outline: none !important;
}
.MuiSelect-outlined.MuiSelect-outlined{
    padding-right: 3rem !important;
}
.MuiSelect-selectMenu{

}
.MuiSelect-outlined {
    border-radius: 8px !important;
}
.MuiSelect-select:focus {
    border-radius: 8px !important;
    background-color: rgba(255,255,255,0.5) !important;
}
.country-dropdown input:focus{
    outline: none !important;
}
.MuiSelect-iconOutlined {
    right: 10px !important;
}
.MuiSelect-icon {
    color: black !important;
}
fieldset:focus{
    outline: none !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: black !important;
    border-width: 1px !important;
}