body{
    background-color: #f5f6fa;
    margin: 20px;
}
.stats-left{
    flex: 0.9;
}
@media (max-width: 768px) {
    .covid-app{
        flex-direction: column !important;
    }
    .covid-stats{
        flex-direction: row !important;
    }
}
.stats-right{    
    border-radius: 20px !important;
    height: 75vh;
}
.covid-header{
    font-size: 3rem;
    margin: 20px 0 10px 0;
}
.country-dropdown{
    background-color: white;
}
.MuiOutlinedInput-root{
    border-radius: 8px !important;
}
.MuiInputBase-root{    
    font-family: 'Poppins', sans-serif !important;
}
.MuiInputBase-root:focus{
    outline: none !important;
}
.MuiSelect-outlined.MuiSelect-outlined{
    padding-right: 2rem !important;
}
.MuiSelect-outlined {
    border-radius: 8px !important;
}
.MuiSelect-select:focus {
    border-radius: 8px !important;
    background-color: rgba(255,255,255,0.5) !important;
}
.country-dropdown input:focus{
    outline: none !important;
}
.MuiSelect-icon {
    color: black !important;
}
fieldset:focus{
    outline: none !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: black !important;
    border-width: 1px !important;
}
.covid-stats{
    flex: 1 !important;
    margin: 2rem 1.25rem;
}
.total-covid, .overview-covid{
    margin-right: 1.25rem !important;
}
.trends-covid, .total-covid, .overview-covid{
    box-shadow: 0 0 8px -4px rgba(0,0,0,0.5);
    background-color: white;
    padding: 1rem 1.5rem !important;
    border-radius: 20px;
    width: 100%;
}
.stats-right{
    box-shadow: 0 0 8px -4px rgba(0,0,0,0.5) !important;
}
.total-cases{
    margin: 15px 0;
    text-align: right;
    color: #de3700;
}
.w100{
    width: 100% !important;
}
.stat-box{
    background-color: rgba(211, 211, 211, 0.5);
    padding: 0.5rem 0.75rem;
    margin-bottom: 1.25rem;
    border-radius: 0.5rem;
    margin-left: auto;
    box-shadow: 0 0 8px -4px rgba(0,0,0,0.2) !important;
}
.covid-source{
    margin: 1.28rem 0 0 0;
    text-align: right;
    color: #767676;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }