body{
    background-color: #f5f6fa;
    margin: 20px;
}
.stats-left{
    flex: 0.9;
}
@media (max-width: 768px) {
    .covid-app{
        flex-direction: column !important;
    }
    .covid-stats{
        flex-direction: row !important;
    }
}
.covid-header{
    color: #fc3c3c;
    font-size: 2rem;
}
.country-dropdown{
    background-color: white;
}