.map{
    height: 50vh;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 8px -4px rgba(0,0,0,0.5);
    margin-top: 16px;
}
.leaflet-container{
    height: 100%;
}
.country-flag{
    height: 100px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}
.country-active, .country-recovered, .country-deaths{
    font-size: 16px;
    margin-top: 5px;
}
.country-name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: #555;
}